<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashwin</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white">
        <div class="w-100 bg-blue-800 p-5 flex flex-wrap flex-row flex-column">
            <div class="ml-12 text-xl" href="/read">Home</div>
            <div class="ml-12 text-xl bg-red-900" href="/read">Product</div>
            <div class="ml-12 text-xl" href="/read">Gallary</div>
            <div class="ml-12 text-xl bg-red-900" href="/read">Portfolio</div>
            <div class="ml-12 text-xl" href="/read">About us</div>
            <div class="ml-12 text-xl bg-red-900" href="/read">Contact us</div>
        </div>
    </div>
</body>
</html>